[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
python-dotenv = "*"
anthropic = "*"

[dev-packages]

[requires]
python_version = "3.14"

[scripts]
dev = "python app.py"
